12_build*/
08_reports/*_logs/
08_reports/frontend_snapshot_*/
Log/
11_third_party/orbbec/
*.zip
*.tar
*.tar.gz
*.tgz
*.7z
*.rar
*.log
*.pid
core
core.*
09_web_monitor/.venv/
__pycache__/
*.pyc
.cache/
.vscode/
.idea/
